body {
  margin: 0px;
  font-family: serif;
}

h1 {
  font-size: 40px;
}

.topnav {
  background-color: #333;
  text-align: center;
  font-size: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.topnav a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 18px 0px;
  width: 20%;
  display: inline-block;
}

.topnav a:hover {
  background-color: gray;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.main {
  margin: 90px 10px;
}

.paper {
  font-size: 28px;
  margin-top: 10px;
  margin-left: 5px;
  width: 90%;
}

.paper-title {
  font-size: 1.1em;
  font-weight: bold;
}

.paper-author-me {
  font-weight: 600;
  color: rgb(5, 97, 11);
}

.formal-education {
  font-size: 20px;
}
