body {
  margin: 0px;
  font-family: serif;
  background-color: #fff2f2;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.topnav {
  background-color: #333;
  text-align: center;
  font-size: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.topnav a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 18px 0px;
  width: 16.667%;
  display: inline-block;
}

.topnav a:hover {
  background-color: gray;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.main {
  margin: 90px 10px;
}

.paper {
  font-size: 28px;
  margin-top: 10px;
  margin-left: 5px;
  width: 90%;
}

.paper-title {
  font-size: 1.1em;
  font-weight: bold;
}

.paper-author-me {
  font-weight: 600;
  color: rgb(5, 97, 11);
}

.education {
  display: flex;
  flex-wrap: wrap;
}

.education > div {
  width: 50%;
}
.education > div > div {
  padding: 0px 50px;
  /* width: 45%; */
  font-size: 20px;
}

.education ul {
  list-style: none;
  padding-left: 0;
}

.university-degree .logo {
  height: 55px;
  float: left;
  margin-right: 10px;
}

.university-degree p {
  padding-top: 6px;
}

.certifications {
  margin-top: 50px;
}

.mathworks-associate .logo {
  height: 50px;
  float: left;
  margin-right: 10px;
}

.mathworks-associate p {
  padding-top: 10px;
}

.logo {
  height: 50px;
  float: left;
  margin-right: 10px;
}

.logo + h3 {
  padding-top: 10px;
}
